<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Amount</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>			
		<% @products_search.each do |p| %>
			<tr>
				<th><%= p.name %></th>
				<th><%= p.description %></th>
				<th><%= p.price %></th>
				<th><%= p.amount %></th>
				<th><%= button_to "Remove", p,
					class: "btn btn-danger",
					method: :delete,
					data: { confirm: "Do you want to delete #{p.name} ?" } %></th>				
			</tr>
		<% end %>			
	</tbody>
</table>

<%= link_to "Add Product", new_product_path %>
